blinker==1.4
certifi==2020.12.5
chardet==4.0.0
click==6.7
cloudinary==1.24.0
Flask==1.0.2
Flask-Cors==3.0.10
flask-crontab==0.1.2
Flask-DebugToolbar==0.10.1
flask-googlemaps==0.4.1
Flask-SQLAlchemy==2.4.4
future==0.18.2
htmlmin==0.1.12
idna==2.10
importlib-metadata==3.7.2
itsdangerous==0.24
Jinja2==2.10
joblib==1.0.1
jsmin==2.2.2
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.4
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.1
mkdocs-minify-plugin==0.3.0
nltk==3.5
pkg-resources==0.0.0
psycopg2==2.8.6
Pygments==2.8.1
PyJWT==1.7.1
pymdown-extensions==8.1.1
pytz==2021.1
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
six==1.15.0
SQLAlchemy==1.3.22
tornado==6.1
tqdm==4.59.0
twilio==6.52.0
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==0.14.1
zipp==3.4.1
