asn1crypto==1.4.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudinary==1.25.0
Flask==1.1.2
Flask-Cors==3.0.10
flask-crontab==0.1.2
flask-googlemaps==0.4.1
Flask-SQLAlchemy==2.5.1
future==0.18.2
greenlet==1.1.0
gunicorn==20.1.0
htmlmin==0.1.12
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
jsmin==2.2.2
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.4
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.1
mkdocs-minify-plugin==0.3.0
nltk==3.6.2
pg8000==1.19.5
psycopg2-binary==2.8.6
Pygments==2.9.0
PyJWT==1.7.1
pymdown-extensions==8.2
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
scramp==1.4.0
six==1.16.0
SQLAlchemy==1.4.14
testing.common.database==2.0.3
testing.postgresql==1.3.0
tornado==6.1
tqdm==4.60.0
twilio==6.58.0
urllib3==1.26.4
Werkzeug==1.0.1
