{% extends 'base.html' %}

{% block body %}
<h1>Audition Input Page</h1>

<div id="input_page" class="input-page">
  <!-- <form id="go-feed" action='/feed'> -->

  <div class="callback">
    Was this a callback?
    <button type=button id="yes" value="yes">Yes</option>
    <button type=button id="no" value="no">No</option>
  </div>

  <div class="project-titles" style="display:none">
    <select name="project-selector" id="project-selector" class="project-selector">
      <option value=None>Select a Project</option>
    {% for project in projects %}
      <option value={{ project["project_id"] }}>{{project['project_title']}}</option>
    {% endfor %}
    </select>
  </div>

  <div class="auditions">
    {% for n in range(n) %}
    <button type="button" name="audition" id="audition" value={{ auditions[n]['audition_id'] }} projectid={{
      auditions[n]['project_id'] }} style="display:none">{{ n + 1 }}</button>
    {% endfor %}
  </div>

  <div class="audition-div" style="display:none">
    <form class="audition-form" id="audition-form" method="post" enctype="multipart/form-data">
      Industry
      <select name="industry" id="industry" required>
        <option value="none" selected disabled hidden>Select an Option</option>
        <option value="theatre">Theatre</option>
        <option value="tv">TV</option>
        <option value="film">Film</option>
        <option value="commercial">Commercial</option>
        <option value="voiceover">Voiceover</option>
        <option value="instrumental">Instrumental</option>
        <option value="vocal">Vocal</option>
        <option value="dance">Dance</option>
        <option value="other">Other</option>
      </select>
      <input type="text" id="project_title" name="project_title" placeholder="Project Title" />
      <input type="text" id="company" name="company" placeholder="Company" />
      <input type="text" id="casting_office" name="casting_office" placeholder="Casting Office" />
      <input type="text" id="agency" name="agency" placeholder="Agency" />
      <input type="date" id="date" class="form-control" name="Audition Date" required>
      <input type="time" id="time" name="Appointment Time" min="00:00" max="24:00" required>
      <input type="text" id="role" name="role" placeholder="Role" />
      <input type="text" id="location" name="location" placeholder="Location" />
      <input type="text" id="notes" name="notes" placeholder="Notes" />

      <input type="text" id="media-title" name="media-title" placeholder="Media Title"/>
    
      <div id="media-uploader">
        <input type="file" id="media-files" name="filesToUpload[]" multiple>
      </div>

      <input style="display:none" id="media-url" name="media-url" />

      <input type="submit" value="SUBMIT" name="submit">
    </form>

    <button id="audition-button" type=submit hidden>Submit</button>

    <p id="data"></p>

    <script src="/static/js/ajax.js"></script>

  </div>

  <a href="/feed"><button>Go To Feed</button></a>

</div>

{% endblock %}



<!-- {#
  make drop down with project tiles/project_ids as values -- IF THE USER is not choosing callback, have default values (something like "new project" or whatevs)
<selec>
  <option select by default value="(something you will definately notice and check for in your server)false"></option>
  <optin vlaue="{{project_id}}"></optin>
</selec>


  when user sets is_callback to true, hide the project related fields in the form 
  when form is submitted, on the backend check:
    - is it a callabck/do i see the default value or a valid project id?
        - if project id, mke new audition relating to exisiotng project
    - if not callback 
        - do as you've been doing
  
  #} -->