body {
    background-image: url('/static/img/FollowSpotYellow.png');
    height: 100vh;
    background-size: cover;
    background-position: bottom;
  }
   
.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.table {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: "League Gothic", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 6px;
    border-radius: 25px;
    font-size: 14px;
}

.form button {
    font-size: "League Gothic", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:white;
    width: 100%;
    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
}

.form button:hover, .form button:active{
    background: #F1D900;
}

.form .message {
    margin: 15px 0 0;
    color: white;
    font-size: 12px;
}

.form .message a {
    color: #F1D900;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  input {
      width: 100%;
      padding: 8px 25px;
      margin: 6px 0;
  }