/* .container {
    margin-top: 20px;
  } */
  /* body {
    height: 100vh;
    background-size: cover;
    background-position: center;
  } */
   
/* .custom-select {
    width: 360px;
} */
/* 
.form {
    position: relative;
    z-index: 1;
    background: #1F4B5B;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
} */