/* MAIN CSS#################################################################################### */

/* Font-Family: 'Oswald', Sans-Serif;
Font-Size: 48px;

/* Font-Family: 'Work Sans', Sans-Serif;
Font-Size: 45px;

Font-Family: 'Roboto Condensed', Sans-Serif;
Font-Size: 35px;
Font-Family: 'Cabin', Sans-Serif;
Font-Size: 16px;

Font-Family: 'Roboto', Sans-Serif;
Font-Size: 48px;
Font-Family: 'Lora', Serif;
Font-Size: 14px;

/* OVERRIDE ACCESSABILITY */
input:focus, textarea:focus, select:focus{
  outline: none;
}

* {
  Font-Family: 'Oswald', Sans-Serif;
}

/* size for nav bar */
body {
  font-size: 1.3rem;
  }

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  }

.chart-container{
  border-radius: 30px;
}


  

/* ################################################################################# */

input#searchBar {
  width: 50%;
}

.callback {
  width: 60%;
  margin: 20px auto;
  }

.callback-btns {
  width: 75.3%;
  margin: 20px auto
}

.submit-btn {
  background-color: #A0AAB2;
  width: 103%;
  margin-left: -14px;
  margin-top:10px;
  }

.project-titles {
  width: 62%;
  margin: 20px auto;
  }

#project-selector {
  width: 72.5%;
  margin: 20px auto;
  }

.audition-form {
  display: none;
  width: 43.9%;
  margin: 20px auto;
  }
 
#notes {
  height: 100px;
  }

#media-uploader input[type="file"] {
  padding:0;
  margin-left: 0px;
  /* display: none; */
  color:white;
  } 


.media-btn {
  margin-left: -14px;
  margin-top:-5px;
  color: #455357
  }

.add-media {
  margin: 12px;
  width: 100%;
  color: white
  }
      
.mediatitle-btn{
  border-radius: 25px;
  }
        
#list {
  list-style: none;
  padding-left: 0;
  margin-left: -26px;
  color: white;
  }


/* ##################################AUDITION-CARDS########################################### */

.card-body form-group {
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  }

.card-group .card-primary:hover {
  box-shadow: 0 40px 60px -20px rgba(4, 1, 26, 0.15);
  z-index: 100;
}
.card-group .card-primary:hover .card-title{
  color: #7e7e7e;
  background: transparent;
}
.card-group .card-primary .card-img-top{
  width:264px;
  height:264px;
  margin: 80px auto 32px;
}
.card-group .card-primary .card-body > .badge {
  margin-bottom: 24px;
}

.card-group .card-primary .card-body {
  padding: 0 32px;
}
.card-group .card-primary .card-title {
  color: #261c6a;
  font-size: 26px;
  line-height: 1.54;
  font-weight: 900;
  margin-bottom: 24px;
}
.card-group .card-primary .card-text {
  color: #261c6a;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.card-group .card-primary .card-footer {
  padding: 48px 0 56px;
  background: transparent;
  border:0;
}

.badge {
  font-size: 1.6em;
}

section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 140px 0; 
}

.card {
  position: relative;
  min-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3); 
  transition: .5s;
}

.card:hover {
  transform:scale(1.1);
}
.audition-card, .audition-card .title .aud {
  background-color: rgb(255, 255, 255);
}


/* TESTINGGGG */
.audition-card, .audition-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}

.title .fa {
  color: rgb(0, 0, 0);
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}
.title h2 {
  position: relative;
  margin: -20px 0 0;
  padding: 7px;
  color: white;
  font-size: 24px;
  z-index: 2;
  border-radius: 30px;
}
.card-project-title {
  position: relative;
  z-index: 2;
}
.card-project-title h4 {
  margin: 0;
  padding: 11px 0;
  color: black;
  font-size: 28px;
  border-radius: 40px;
}
.audition-info {
  position: relative;
  z-index: 2;
}
.audition-info ul {
  margin: 0;
  padding: 0;
}
.audition-info ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color:black;
  font-size: 20px;
}
.card a {
  display: block;
  position: relative;
  z-index: 2;
  background-color: rgba(230, 230, 230, 0.404);
  /* card button color above */
  /* color: #263ff; */
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 20px auto 0;
  line-height: 40px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0,0,0, .1);
}
.audition-card, .audition-info.fields {
  font-weight: 900;
}

.selected-audition{
  border-radius: 30px;
  background-color: rgba(238, 238, 238, 0.637);
  margin: 5px;
  padding: -7px 0;
  border-color: white;
  border: none
}

.search-bar{
  border-radius: 30px;
}


/* ######################################LOGIN PAGE########################################### */

#myVideo {
  object-fit: cover;
  width: 100vw;
  height: 119vh;
  position: fixed;
  top: 0;
  left: 0;
}

.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
}

.login-page .home-form {
  margin-bottom: 220px;
  margin-right: 100px;
}

.home-form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  text-align: center;
}

.table .feed {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.home-form input {
  Font-Family: 'Raleway', Sans-Serif;
  outline: 1;
  background: rgba(255, 255, 255, 0.897);
  width: 100%;
  border: 0;
  margin: 0 0 6px;
  border-radius: 25px;
  font-size: 16px;
  /* font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
  font-size: 14px; */
}

.home-form button {
  Font-Family: 'Raleway', Sans-Serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #56666B;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}

.home-form button:hover, .form button:active {
  background: #4a585c;
  color: white;
}

.register-submit{
  background: #56666B;
  color: white;
  Font-Family: 'Raleway', Sans-Serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #56666B;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}

.home-form .message {
  margin: 15px 0 0;
  color: white;
  font-size: 12px;
}

.home-form .message a {
  color: rgb(189, 218, 190);
  text-decoration: none;
}

#register-form {
  display: none;
}

.login-button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

input {
  width: 100%;
  /* padding: 8px 25px; */
  margin: 4px 0;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 8px 25px;
  margin: 6px 0;
  
}