{% extends 'base.html' %}

{% block body %}

<h1>{{user.first_name}}'s Auditions</h1>

   
<canvas id="myChart2" width="50" height="50"></canvas>
<canvas id="myChart" width="50" height="50"></canvas>
<canvas id="myChart3" width="50" height="50"></canvas>


<script>
$.get('/charts.json', (res) => {

    const industries = res.labels;
    const industryCount = res.values;
        
    let myChart1 = document.getElementById("myChart").getContext("2d");
    let colors = ['#BF4342', '#CE4257', '#EEC170', '#FFBD00', '#FAE588', '#FCEFB4','#FDF8E1','#F9DC5C','#FFC857', '#C06C84', '#A8A0B1'];
    
    let chart1 = new Chart(myChart1, {
        type: "doughnut",
        data: {
            labels: industries,
            datasets: [
                {
                    label: "Industry",
                    data: industryCount,
                    backgroundColor: colors ,
                }
            ]
        },
        options: {
            responsive: false
        }
            
    })
});

$.get('/charts2.json', (res) => {
    console.log(res)
    const months = res.months;
    
    let colors2 = ['#BF4342', '#CE4257', '#EEC170', '#FFBD00', '#FAE588', '#FCEFB4','#FDF8E1','#F9DC5C','#FFC857', '#C06C84', '#A8A0B1'];
    
    console.log("RES DATASETS")
    console.log(res.datasets)
    let myChart2 = document.getElementById("myChart2").getContext("2d");

    for (i=0; i<res.datasets.length; i++) {
        // console.log("I")
        // console.log(i)
        // console.log("DATASET")
        // console.log(res.datasets[i])
        res.datasets[i].backgroundColor = colors2[i];
    // for (let data_obj of res.datasets){
    //     for (color in colors2){
    //         data_obj.backgroundColor = color
        
    }
    // console.log("HERE!!!!!!")
    // console.log(res.datasets)
    
    let chart2 = new Chart(myChart2, {
        type: "bar",
        data: {
            labels: months,
            datasets: res.datasets,
        },

        // data: {
        //     labels: months,
        //     datasets: res.datasets, 
        //     backgroundColor: colors2
        // },
        options: {
                legend: {
                    display: false,
                responsive: false
                },
                scales: {
            yAxes: [{
                ticks: {
                    max: 15,
                    min: 0,
                    stepSize: 1
                }
            }]
        }
    }
    })
}); 


$.get('/charts3.json', (res) => {

const agency = res.labels;
const auditionCounts = res.values;
console.log("AUDITION COUNTS")
console.log(auditionCounts)
let myChart3 = document.getElementById("myChart3").getContext("2d");
let colors3 = ['#BF4342', '#CE4257', '#EEC170', '#FFBD00', '#FAE588', '#FCEFB4','#FDF8E1','#F9DC5C','#FFC857', '#C06C84', '#A8A0B1'];

let chart3 = new Chart(myChart3, {
    type: "doughnut",
    data: {
        labels: agency,
        datasets: [
            {
                label: "Agency",
                data: auditionCounts,
                backgroundColor: colors3,
            }
        ]
    },
    
    options: {
            legend: {
                display: true,
            responsive: true
            },
            scales: {
        // yAxes: [{
        //     ticks: {
        //         max: 20,
        //         min: 0,
        //         stepSize: 1
        //     }
        // }]
    }
}
})
});

</script>

{% endblock %}