{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center">
        </div>
    </div>
    <div class="chart-container p-5 border" style="background-color: white">
        <div class="row" id="audition-chart-row">
            <div class="col-8">        
                <canvas id="auditionBarChart"></canvas>
            </div>
            <div class="col-4">
                <div class="row" id="doughnut-chart-row">
                    <div class="col-12">
                        <canvas id="industryChart" class="mb-5"></canvas>
                    </div>
                    <div class="col-12">
                        <canvas id="agencyChart" class="mb-5"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

<script>

// ##############################AUDITION BAR CHART##############################################

$.get('/audition-chart.json', (res) => {
    // console.log(res)
    const months = res.months;
    let colors = ['#94849B', '#5F506B', '#76949F'];
    // console.log("RES DATASETS")
    // console.log(res.datasets)
    Chart.defaults.global.defaultFontColor = 'black';
    Chart.defaults.global.defaultFontFamily = 'Oswald';
    Chart.defaults.global.defaultFontSize = 20;
    let auditionBarChart = document.getElementById("auditionBarChart").getContext("2d");

    for (i=0; i<res.datasets.length; i++) {
        res.datasets[i].backgroundColor = colors[i];       
    }
   
    let chart1 = new Chart(auditionBarChart, {
        type: "bar",
        data: {
            labels: months,
            datasets: res.datasets,
        },
        options: {
            legend: {
                display: true,
            },
            scales: {
                yAxes: [{
                    scaleLabel:{
                        display: true,
                        labelString: "Number of Auditions"},
                    ticks: {
                        max: 15,
                        min: 0,
                        stepSize: 1
                    }
                }],
                xAxes: [
                    {
                        
                    }
                ]
            }
        }
    })
});

// ##############################INDUSTRY CHART##############################################

$.get('/industry-chart.json', (res) => {

const industries = res.labels;
const industryCount = res.values;
    
let industryChart = document.getElementById("industryChart").getContext("2d");
let colors2 = ['#602E51', '#875053', '#7E9181', '#4E4C67', '#8499B1', "#7B6D8D", "#8499B1", "#FFA3AF", "#73c6b6", "#5dade2",];
// theatre, television, voiceover, commercial

let chart2 = new Chart(industryChart, {
    type: "doughnut",
    data: {
        labels: industries,
        datasets: [
            {
                label: "Industry",
                data: industryCount,
                backgroundColor: colors2 ,
            }
        ]
    },
    options: {
    }
        
})
});

// ##############################AGENCY CHART##############################################

$.get('/agency-chart.json', (res) => {

const agency = res.labels;
const auditionCounts = res.values;
// console.log("AUDITION COUNTS")
// console.log(auditionCounts)
let agencyChart = document.getElementById("agencyChart").getContext("2d");
let colors3 = ['#2F394D','#985F6F','#4E4C67', '#2F394D'];

let chart3 = new Chart(agencyChart, {
    type: "doughnut",
    data: {
        labels: agency,
        datasets: [
            {
                label: "Agency",
                data: auditionCounts,
                backgroundColor: colors3,
            }
        ]
    },
    
    options: {
            legend: {
                display: true,
            }
}
})
});
</script>

{% endblock %}