{% extends 'base.html' %}

{% block body %}

<div class="container-md">
<h1>{{user.first_name}}'s Auditions</h1>

    {% for a in user.auditions %}
    <div class="card" style="width: 50rem">
        <div class="card-header">
            {{ a.project.project_title}}
        </div>
                <div class="card-body">
                    {{ a.role }}
                    {{ a.date }}
                    {{ a.time }}
                    {{ a.location }}
                    {{ a.project.industry }}
                    {{ a.project.company }}
                    {{ a.project.casting_office }}
                    {{ a.project.agency }}
                    {{ a.notes }}

                    {% for m in a.medias %}
                    <a href={{ m.link }}>{{ m.media_title }}</a>
        
                    {% endfor %}
                </div>
                
        </div>
        {% endfor %}
</div>

{% endblock %}



