{% extends 'base.html' %}

{% block body %}
<h1>Audition Input Page</h1>
<div class="input-page">
    <div class="form">
        <form class="input-form" id="input-form">
            <div> 
            <label> Was this a callback? </label>
            <input type="radio" id="callback-yes">Yes</>
            <input type="radio" id="callback-no">No</>
            </div>
            <input type="text" id="industry" placeholder="Industry"/>
            <input type="text" id="date" placeholder="Audition Date"/>
            <input type="text" id="time" placeholder="Appointment Time"/>
            <input type="text" id="project_title" placeholder="Project Title"/>
            <input type="text" id="company" placeholder="Company"/>
            <input type="text" id="role" placeholder="Role"/>
            <input type="text" id="casting_office" placeholder="Casting Office"/>
            <input type="text" id="agent" placeholder="Agent"/>
            <input type="text" id="location" placeholder="Location"/>
            <input type="text" id="notes" placeholder="Notes"/>

            <!-- <button id="register-submit">Create</button> -->
            <input type="submit"/>
            <p class="message"> Create <a href="#">Create</a> </p>
        </form>
{% endblock %}
