{% extends 'base.html' %}

{% block body %}
<h1>{{user.first_name}}'s Audition Input Page</h1>

<div id="input_page" class="input-page">

  <div class="callback">
    Was this a callback?
    <button type=button id="yes" value="yes">Yes</option>
    <button type=button id="no" value="no">No</option>
  </div>

  <div class="project-titles" style="display:none">
    <select name="project-selector" id="project-selector" class="project-selector">
      <option value=None>Select a Project</option>
    {% for project in projects %}
      <option value={{ project["project_id"] }}>{{project['project_title']}}</option>
    {% endfor %}
    </select>
  </div>

  <div class="auditions">
    {% for n in range(n) %}
    <button type="button" name="audition" id="audition" value={{ auditions[n]['audition_id'] }} projectid={{
      auditions[n]['project_id'] }} style="display:none">{{ n + 1 }}</button>
    {% endfor %}
  </div>

  <div class="audition-div" style="display:none">
    <form class="audition-form" id="audition-form" enctype="multipart/form-data">
      Industry
      <select name="industry" id="industry" required>
        <option value="none" selected disabled hidden>Select an Option</option>
        <option value="theatre">Theatre</option>
        <option value="television">Television</option>
        <option value="film">Film</option>
        <option value="commercial">Commercial</option>
        <option value="voiceover">Voiceover</option>
        <option value="instrumental">Instrumental</option>
        <option value="vocal">Vocal</option>
        <option value="dance">Dance</option>
        <option value="modeling">Modeling</option>
        <option value="other">Other</option>
      </select>

      <input type="text" id="project_title" name="project_title" placeholder="Project Title" required/>
      <input type="text" id="company" name="company" placeholder="Company" />
      <input type="text" id="casting_office" name="casting_office" placeholder="Casting Office" />
      <input type="text" id="agency" name="agency" placeholder="Agency" />
      <input type="date" id="date" class="form-control" name="Audition Date" required>
      <input type="time" id="time" name="Appointment Time" min="00:00" max="24:00" required>
      <input type="text" id="role" name="role" placeholder="Role" />
      <input type="text" id="location" name="location" placeholder="Location" />
      <input type="text" id="notes" name="notes" placeholder="Notes" />
  
      <div id="media-uploader">
      </div>
      <ul id="list">
      </ul>

      <input type="submit" value="SUBMIT" name="submit">
    
    <button id="audition-button" type=submit hidden>Submit</button>

    <p id="data"></p>

  </form>
  </div>

</div>

<button id="list-adder">Add Media</button>

<script>
  const listAddButton = $('#list-adder')
  let click_counter = 0
    const addItem = () => {
        click_counter++
        $('#list').append(`<li>
        <input type="text" id="media-title-${click_counter}" name="media-title" placeholder="Media Title"/>
        <div id="media-uploader">
        <input type="file" id="media-files-${click_counter}" name="filesToUpload[]" multiple>
        </div>`)
    }
  listAddButton.on('click', addItem)
</script>

<a href="/feed"><button>Audition Timeline</button></a>
<a href="/charts"><button>Audition Stats</button></a>



{% endblock %}