<!-- 
<script
  src="http://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<script src="static/ajax.js"></script>
{% endblock %}

{% block body %}
    <h1>Create an account</h1>

    <form id="create-user">
        <input type="text" id="first_name" placeholder="first name">
        <input type="text" id="last_name" placeholder="last name">
        <input type="text" id="email" placeholder="email">
        <input type="text" id="password" placeholder="password">
        <input type="submit">
    </form>
    <h3 id="response"></h3>

{% endblock %}
     -->

    
