{% extends 'base.html' %}

{% block title %}Create Account{% endblock %}

{% block body %}
    <h1>Create an account</h1>

    <form id="create_user">
        <input type="text" id="first_name" placeholder="first name">
        <input type="text" id="last_name" placeholder="last name">
        <input type="text" id="email" placeholder="email">
        <input type="text" id="password" placeholder="password">
        <input type="text" id="img_url" placeholder="image url">
        <input type="submit">
    </form>

{% endblock %}
    

    
